<a routerLink="/admin/products/create" class="btn">Add Product </a>
<input placeholder="Search" [formControl]="searchControl">

<table class="table">
    <thead class="thead">
        <tr>
            <ng-container *ngFor="let data of header">
                <th> {{data.title}}</th>
            </ng-container>
        </tr>
    </thead>
    <tbody class="tbody">
        <tr *ngFor="let product of products | paginate: { itemsPerPage: 5, currentPage: currentPage } let i = index;">
            <td>{{i + 1}}</td>
            <td>{{product.title}}</td>
            <td><img [src]="product.image" width="90" /></td>
            <td>{{product.price}}</td>
            <td>{{product.details}}</td>
            <td><a class="btn" [routerLink]="['/admin/products/', product.id, 'edit']">Edit</a></td>
            <td><button class="btn btn-del" (click)="productDel(product.id)">Delete</button></td>
        </tr>
    </tbody>
</table>



<ul class="pagination">
    <li class="page-item" [class.disabled]="currentPage == 1">
        <a class="page-link previous round" (click)="currentPage = currentPage - 1">&#8249;</a>
    </li>
    <li class="page-item" *ngFor="let page of pages" [class.active]="currentPage == page">
        <a class="page-link" (click)="currentPage = page">{{ page }}</a>
    </li>
    <li class="page-item" [class.disabled]="currentPage == pages.length">
        <a class="page-link next round" (click)="currentPage = currentPage + 1">&#8250;</a>
    </li>
</ul>